<h3>Events I Created</h3>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Address
    </th>
    <th>
      Date
    </th>
  </tr>
<% @created_events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.street %></br>
      <%= event.zip_code %>
    </td>
    <td>
      <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    </td>
    <td>
      <%= link_to 'edit', edit_user_event_url(current_user, :id => event.id) %>
      <%= link_to "destroy", user_event_url(current_user, :id => event.id), :method => :delete, :confirm => "Are you sure?" %>
    </td>
  </tr>
<% end %>
</table>
<h3>Events I'm attending</h3>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Address
    </th>
    <th>
      Date
    </th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.street %></br>
      <%= event.zip_code %>
    </td>
    <td>
      <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    </td>
  </tr>
<% end %>
</table>

<h3>All Upcoming Events</h3>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Address
    </th>
    <th>
      Date
    </th>
    <th>
      RSVP?
    </th>
  </tr>
<% @all_events.each do |event| %>
  <tr>
    <td>
      <%= link_to event.name, user_event_url(event.creator, :id => event.id) %>
    </td>
    <td>
      <%= event.street %></br>
      <%= event.zip_code %>
    </td>
    <td>
      <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    </td>
      <td>
        <%= link_to "RSVP", event_attend_url(event, :user_id => current_user.id), :method => :post %>
        <%#= link_to "destroy", user_event_url(current_user, :id => event.id), :method => :delete, :confirm => "Are you sure?" %>
      </td>
  </tr>
<% end %>
</table>