<h1 class="header-text">Welcome! tonys@squareup.com</h1>
<div class="large-event cf">

  <div class="event-photo">
      <img src="http://placekitten.com/200/200">
  </div>

  <div class="event_info">
   <h2 class="large-event_title">Event Title</h2>
    <ul class="event_summary">
      <li class="event_detail event_date">Date: January 12, 2013</li>
      <li class="event_detail"><a href="#lightbox" class="event_rsvp">You're going!</li>
      <li class="event_detail"><a href="eventdetails.html" class="events_more-link">More</a></li>
    </ul>
  </div>

</div><!--close large event-->

<div class="top-row cf">
<div class="event-container left">
<h3>Events I Created</h3>

<div class="event_table half_column">

<% @created_events.each do |event| %>
  <div class="small-event cf">

  <div class="event-photo">
      <img src="http://placekitten.com/75/75">
  </div>

  <div class="event_info">
   <h2 class="small-event_title"><%= event.name %></h2>
    <ul class="event_summary">
      <li class="event_detail event_date">
        <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
      </li>
      <li class="event_detail address">
        <%= event.street %><br />
        <%= event.zip_code %>
      </li>
    </ul>
    <div class="event_edit">
      <%= link_to 'edit', edit_user_event_url(current_user, :id => event.id) %>
      |
      <%= link_to "destroy", user_event_url(current_user, :id => event.id), :method => :delete, :confirm => "Are you sure?" %>
    </div>
  </div>

</div><!--close small event-->
<% end %>
</div>
</div>



<div class="event-container left">
<h3>Events I'm attending</h3>

<div class="event_table half_column ">

<% @events.each do |event| %>
  <div class="small-event cf">

  <div class="event-photo">
      <img src="http://placekitten.com/75/75">
  </div>

  <div class="event_info">
   <h2 class="small-event_title"><%= event.name %></h2>
    <ul class="event_summary">
      <li class="event_detail event_date">
        <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
      </li>
      <li class="event_detail address">
        <%= event.street %><br />
        <%= event.zip_code %>
      </li>
    </ul>

  </div>

</div><!--close small event-->
<% end %>
</div>
</div>
</div>


<div class="event-container">
<h3>All Upcoming Events</h3>

<div class="event_table half_column ">

<% @all_events.each do |event| %>
  <div class="small-event cf">

  <div class="event-photo">
      <img src="http://placekitten.com/75/75">
  </div>

  <div class="event_info">
   <h2 class="small-event_title"><%= event.name %></h2>
    <ul class="event_summary">
      <li class="event_detail event_date">
        <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
      </li>
      <li class="event_detail address">
        <%= event.street %><br />
        <%= event.zip_code %>
      </li>
    </ul>
    <div class="event_edit">
              <%= link_to "RSVP", event_attend_url(event, :user_id => current_user.id), :method => :post %>
</div>

  </div>

</div><!--close small event-->
<% end %>
</div>
</div>
</div>